.card {
    width: 400px;
    background: linear-gradient(to bottom right, #F0F0F0, #D9D4CE);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

.cardImg {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.cardBody {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.subtitle {
    font-size: 18px;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.title {
    font-size: 32px;
    color: #724A1C;
    margin: 2px 0 6px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.btnDropdown {
    background: linear-gradient(to bottom right, #BEA991, #9D7548);
    border: none;
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 14px;
    color: #4e3b1d;
    cursor: pointer;
    height: fit-content;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.description {
    font-size: 14px;
    word-spacing: 0.1rem;
    color: #222;
    line-height: 1.4;
    margin: 12px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.formatButtons {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.btnFormat {
    background: linear-gradient(to bottom right, #c5c0b9, #a8957e);
    color: #4e3b1d;
    border: none;
    border-radius: 16px;
    padding: 6px 12px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-formatSelected {
    background: #c79b59;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 20px;
    color: #524716;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.btnAddToCart {
    background: #d9c1a4;
    color: #724A1C;
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.btnDropdown::after,
.btnFormat::after,
.btnAddToCart::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    /* sfumatura interna */
    pointer-events: none;
}


.btnDropdown:hover,
.btnFormat:hover,
.btnAddToCart:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}